@model List<WebApplication1.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


    <div class="row mb-3">
        <div class="col-md-6">
            <form method="get" asp-action="Index">
                <div class="input-group">
                    <input type="number" class="form-control" name="searchQuery" placeholder="Search subjects or notes..." />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<h2>User List</h2>
 @if (Model.Any())
  {
   <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                </tr>
            }

        
       
    </tbody>
    </table>
}
else
{
    <p>No Users Available</p>
        
}
