@model User
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>

<h2>
    @Model.Id
</h2>
<h2>
    @Model.Name
</h2>
<h2>
    @Model.Email
</h2>
